@charset "utf-8";

/*****************************AQUÍ VA TODO EL CSS DEL INTERIOR DE LA APLICACIÓN  *****************/

/*
00 TOOLTIP    ->  ESTILO DE LOS ELEMENTOS 'title'
01 INFOBAR    ->  ESTILOS DE LA BARRA DE INFORMACIÓN
02 WELCOME    ->  ESTILOS DE LA VISTA DE BOTONES GRANDES DEL INICIO DE BIENVENIDA
03 TABS       ->  ESTILO INCLUÍDOS DENTRO DE LOS TABS
              ->  CSS DEL MÓDULO DE COMPRAS
 3.1          ->  CSS DEL PLUGINS DE JQUERY tablePaginator.0.5 
04 MI PERFIL  ->  ESTILO DEL CONTENIDO DE MI PERFIL. 

05 COMPRAS    -> ESTILO DE "Nueva Compra"
06 CAJA       -> ESTILO DE "Caja" Y "Crear Transacción" 
07 VENTAS     -> ESTILO DE "Ventas".  
08 INVENATRIO -> ESTILO DE "Inventario".
09 IMPRIMIR   -> ESTILO DE "IMPRIMIR"

/***************************************** 00 TOOLTIP ************+******************************/

  .tooltip  {
    display: none;
    background: transparent url(../images/black_arrow.png);
    font-size: 12px;
    height: 70px;
    width: 160px;
    padding: 25px;
    color:#eee;
	text-align: center;
	line-height: 1.4em;
  } 

/***************************************** 01 INFOBAR ************+******************************/

  .container_infobar {
  background-image: url(../images/infobar.png);
  background-repeat: repeat-x;
  border: 1px solid #DEECF0;
  height: 40px;
  margin-bottom: 1.5%; 
  width: 100%;
  clear:both;
  float: left;
  
  }

/****** seccion de la izquierda  ******/
  
  .box_info_dir  { 
  float: left;
  min-width:280px;
  width: 30%;
  height: 25px;
  margin-top:12px;
  margin-left:12px;
  font-size: 1.1em;
  }
  
  .normal  {
  float: left; 	  
  }
  
  .green  { 
  float: left;
  color:#4e9a21;
  margin: 0 4px;
  }
  
  .separator  {
  float: left;	  
  width:17px; 
  height:30px; 
  background-image:url(../images/simbol.png);
  background-position:0px -7px;
  }

/********* seccion de la derecha  ***********/  
  
  .aux_link  { 
  float: right;
  min-width: 120px;
  width: 40%;
  height: 25px;
  margin-top:9px;
  padding-top: 5px;
  margin-left:12px;
  font-size: 1.1em;
  text-align: right;
  padding-right: 2%;
  }
  
  .ax1_link  { 
  color: #4f909e; 
  text-decoration: none; 
  margin-right:10px;
  font-size: 0.9em;
  cursor: pointer;
  float: right;
  }
  
  .span_link  {
  width: 25px;
  height: 20px;
  float: right;
  margin-top: -5px;
    
  }
 
/********************************************** 02 WELCOME  ***********************+**************************/  
     
	 /********* contenedor de los menus  **************/
    div.menu-box {
    border: 1px solid #E2E2E2;
    clear: both;
	height: auto;
    min-height: 350px;
    width: 98%;
	position: relative;
	display: block;
	padding: 1%;
	border-radius: 10px 10px;
    }
   
   /*********** cuadrado del botón del menú *******************/
    div.menu-content {
    float: left;
    }
   
    div.menu-content a {
    background-color: #F2F2F2;
    border: 1px solid #E0E0E0;
    display: block;
    float: left;
    height: 120px;
    margin: 5px;
    padding: 3px;
    text-decoration: none;
    width: 140px;
    border-radius: 5px 5px;
	}
    
	div.menu-content a:hover {
    background-color: #F6F6F6;
    border-bottom: 1px solid #D2D2D2;
    border-right: 1px solid #D2D2D2;
    color: #262E8B;
    display: block;
    
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:  0 5px 15px rgba(0, 0, 0, 0.5); 
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); 
    -o-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	}
    
	div.menu-content a:active  {
	border: 1px solid #989898; 	
	}

    div.menu-content center p {
    margin-bottom: 6%;
    }
    
	div.menu-content center p img {
    margin-top: 12%;
	/* position: relative; */
	background-color: #FFFFFF;
	width: 64px;
	height: 64px;
	display: block;
	border: 1px solid #B2B2B2;
    }
    
	div.menu-content center span {
    color: #727272;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 1.1em;
    }

/**************************************************** 03 TABS  **************************************************/ 

   div.include_form   {      /* div contenedor del formulario */
   border: 1px solid gray;
   border-radius: 5px 5px;
   width: 98%;
   min-width: 400px;
   float: left;
   padding: 1%;
   background-color: #CCF;
   opacity: 0.88;
   height: auto;
   min-height: 160px;
   
   }
   
   div.form_superior  {     /* div del contenedor de las consultas que voya a hacer a la BD -- REPORTES -- */
   width:99.3%; 
   height:auto; 
   padding: 3px; 
   /*border:1px solid gray; */
   margin-bottom:10px; 
   border-radius: 8px 8px;   
   min-width: 400px;
   float: left; 
   clear: both;  
   }
   
   div.buttons_bar_full  {  /* Este es el div contenedor de la barra de BOTONES que ocupa el 100%;*/
   width:100%; 
   float:left; 
   height:auto; 
   clear:both; 
   margin-bottom:10px; 
   padding-bottom:5px;
   }
    
   .fieldset_form  {       /* fieldset del formulario */
    border-radius: 5px; 
	border: 1px solid gray;
	padding: 10px;  
   }
   
   .fieldset_form legend {
   padding: 0 5px;
   text-shadow: #6374AB 1.5px 1.5px 1px;
   }
   
    div.inline_line  {   /* div contenedor de los elementos del formulario */
    float: left;
	width: auto;
	min-width: 600px;
	height: auto;
	min-height: 230px;
	margin-right: 5%;
	display: block;
	position: relative; 
	}
     
   .text_form  {   /* campo input text del formulario */
   float: left; 
   padding: 2px 5px;
   font-size: 1.1em; 
   border: 1px solid gray;
   height: 1.7em;
   font-family: Arial, Helvetica, sans-serif;
   margin-right: 3%;
   margin-top: 5px;
   }

   input.text_form:hover  {
   border: 1px solid #E69D2A;  
   }
   
   input.text_form:focus  {
   border: 1px solid #1C94C4;
   background-color: #FFFFFF; 
   }
   
   .textarea_form  {     /* campo textarea del formulario */
	float: left;
	font-size: 1.1em;    
	border: 1px solid gray;   
	}
   
   .textarea_form:hover  {
   border: 1px solid #E69D2A;  
   }
   
   .textarea_form:focus  {
   border: 1px solid #1C94C4;  
   }

   .table_form  {       /* css de la tabla */
   width: 100%; 
   border: 1px solid gray; 
   text-align: center;
   }
   
   .table_form tr  {       /* css de la tabla */
   }
   
   .table_form tr th {       /* css de la tabla */
   color: white;
   background-color: #056AA8;   /* AZUL CLARO*/
   padding: 3px; 
   }
   
   .table_form tr td {       /* css de la tabla */
   color: #464646;
   background-color: #F7F7F7;
   padding: 4px;
   border: 1px solid gray;  
   }
     
   a.search_link  {    /* css de los link de editar y borrar */
   color: #0033FF;	
   }

   a.search_link:hover  {
   text-decoration: underline;
   }

   a.search_link:active  {
   color: black;
   }

   .message_ok  {                /* div para mensaje de acción OK */
   margin: 20px auto 0 auto;
   background-color: #DDF2F7;
   border: 2px solid #A8EDFC;
   border-radius: 5px 5px;
   padding: 4px;
   width: 99.2%;
   text-align: center;
   }

   .message_wrong  {                /* div para mensaje de acción WRONG */
   margin: 20px auto 0 auto;
   color: white;
   text-decoration: blink;
   background-color: #F96666;
   border: 2px solid #D40000;
   border-radius: 5px 5px;
   padding: 4px;
   width: 99.2%;
   text-align: center;
   }

   .table_info_empresa  {  /* css de la tabla de dos columnas y una fila con el saldo del mes anterior */
   float:left; 
   width:100%; 
   border: 1px solid #F2F2F2;   
   }

   .table_info_empresa tr  {  
   }

   .table_info_empresa tr  td {  
   color: #555555;
   background-color: #EEEEEE;
   padding: 7px;
   font-weight:bold;
   text-align:left;   
   }

   .table_detalle_articulo  {       /* css de la tabla de dos columnas con los detalles del artículo seleccionado */
   float: left;
   width:40%; 
   border: 1px solid #F2F2F2;   
   }
   
   .table_detalle_articulo tr  {  
   }

   .table_detalle_articulo tr  td {  
   color: #555555;
   background-color: #EEEEEE;
   padding: 7px;
   font-weight:bold;
   text-align:left;   
   }
   
   .stock_actual_div  {   /* div contenedor de los Stock Actual de cada LOCAL*/
   float:left; 
   border: 1px solid gray; 
   height: 50px; 
   width: 280px; 
   border-radius: 5px 5px; 
   margin: 5px; 
   padding: 10px;
   }
   
   .stock_actual_div p  {   /* etiqueta p del interior del div contenedor de los Stock Actual de cada LOCAL*/
   font-weight: bold; 
   color: #2C73A5;
   }
   
   .stock_actual_div p span  {   /* etiqueta span del interior del div contenedor de los Stock Actual de cada LOCAL*/
   font-weight:bold; 
   color:#555555;
   }
     
   .table_mes_anterior  {       /* css de la tabla de dos columnas y una fila con el saldo del mes anterior */
   width: 25%; 
   border: 1px solid gray; 
   text-align: center;
   float:right;
   margin-top: 15px;
   }
   
   .table_mes_anterior tr  {       /* css de la tabla */
   }
   
   .table_mes_anterior tr th {       /* css de la tabla */
   color: white;
   background-color: #D40000;
   padding: 3px; 
   }
   
   .table_mes_anterior tr td {       /* css de la tabla */
   color: #464646;
   background-color: #F7F7F7;
   padding: 3px;
   border: 1px solid gray;  
   }
    
   .table_estado_de_cuenta  {       /* css de la tabla de tres columnas para saber el estado de cuentas de un mes específico */
   width: 62%; 
   /* border: 1px solid gray; */
   text-align: center;
   float:left;
   margin-bottom: 15px;
   }
   
   .table_estado_de_cuenta tr  {       /* css de la tabla */
   }
   
   .table_estado_de_cuenta tr th {       /* css de la tabla */
   color: white;
   background-color: #D40000;
   padding: 2px; 
   }
   
   .table_estado_de_cuenta tr td {       /* css de la tabla */
   color: #464646;
   background-color: #F7F7F7;
   /* border: 1px solid gray;  */
   }
  
   .box_mes_actual  {
    float: left;	      
   }

   .table_link  {       /* css de la tabla de una columna y una fila con el link que dice mostrar este mes */
   width: 30%; 
   text-align: center;
   float:left;
   margin-top: 20px;
   }
   
   .table_link tr  {       /* css de la tabla */
   }
   
   .table_link tr th {       /* css de la tabla */
   color: white;
   background-color: #D40000;
   padding: 3px; 
   }
   
   .table_link tr td {       /* css de la tabla */
   color: #464646;
   padding: 3px;
   }
   
   .table_link tr td a {       /* css de la tabla */
   color: #0033FF;	
   }
    
   .table_link tr td a:hover {       /* css de la tabla */
   text-decoration: underline;	
   }

   .table_link tr td a:active {       /* css de la tabla */
   color: #000000;	
   }
  
    .table_fieldset  {   /* css del formulario que voy a introducir dentro de tablas */
	width:100%;   
	}

   .table_fieldset tr td  {   /* css del formulario que voy a introducir dentro de tablas */
	padding: 0 5px 0 5px;
	text-align: right;   
    }

 /******************************** CSS DEL MÓDULO DE COMPRAS  *************************************/
 
    .compras_anadir  {
	float: left;
	}
	
	.compras_anadir a:hover  {
	text-decoration:underline;
	}

    .compras_anadir a:active  {
    color: black;	
	}

  /********************************* CSS DEL PLUGINS DE JQUERY tablePaginator.0.5  ****************************/

        #tablePagination { 
            background-color: #EEEEEE;
			margin-top: 4px; 
            font-size: 0.9em; 
            padding: 2px 4px; 
            height: 20px;
			float: right;
			clear:both;
          }
        #tablePagination_perPage { 
            float: left;
			margin-right: 20px; 
        }
          
		#tablePagination_rowsPerPage  {
		   border: 1px thin #A2A2A2;
		   position:relative;	
		}
		
		#tablePagination_paginater { 
           float: right;
		   padding: 0 3px;
		   overflow:hidden;
		   vertical-align: middle;
          }
		        
        #tablePagination img { 
           padding: 0px 2px; 
		   border: 1px solid #EEEEEE;
		   position: relative;
        }
                 
        #tablePagination img:hover { 
           padding: 0px 2px;
		   border: 1px solid #A2A2A2; 
        }
         
/******************** fin del CSS DEL PLUGINS DE JQUERY tablePaginator.0.5 *********************************/

/***************************************** 04 MI PERFIL ******************************************/

  .mi_perfil  {
  width: 396px;
  height: auto;
  min-height: 380px;
  background-color: #DCF2F7; 
  margin: 5px auto;
  border: 3px solid #A8EDFC;
  border-radius: 10px 10px;
  padding-bottom: 5px;
  }

  center.change_pass {
  margin: 15px auto 10px auto;
  float: left;
  }
    
  form.form_change_pass  {
  padding: 0px 5px 5px 5px; 
  }
  
  .n1_pass {
    color: #3A678E;
    font-size: 16px;
    margin: 15px 0 0 45px;
	float: left;
   }

  .box_link_inicio  {
   width: 150px;
   height: 35px;
   margin-bottom: 10px;
   font-size: 1.0em;
   }

  .box_link_inicio a {          /* <a> para ir a la página de inicio */
   font-family: Tahoma, Geneva, sans-serif;
   font-size: 1.0em;
   text-decoration: none;
   color: #262E8B;
   }

  .box_link_inicio a:hover {          /* <a> para ir a la página de inicio */
   font-family: Tahoma, Geneva, sans-serif;
   font-size: 1.0em;
   text-decoration: underline;
   color: #262E8B;
   }

  .box_link_inicio a:active {          /* <a> para ir a la página de inicio */
   font-family: Tahoma, Geneva, sans-serif;
   font-size: 1.0em;
   text-decoration: underline;
   color: #000000;
   }
 
  .error_user  {   /* mensaje de error para cuando para el formulario de nuevo usuario en el módulo USERS -> NEW USER*/
    background-color: #BC1010;
    padding: 6px 4px;
    border-radius: 4px;
    color: white;
    font-weight: normal;
    margin-left: 16px;
    margin-top: 6px; 
    position: absolute;
  }

  .error_user:before{ /* Este es un truco para crear una flechita */
    content: '';
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #BC1010;
    border-left: 8px solid transparent;
    left: -16px;
    position: absolute;
    top: 5px;
  }
    
  #error01  {     /* error01, error02, error03 ..... para darle la ubicación al mensaje de error de cada campo <text> */
	top: 2px;     /* <text> del Nombre y Apellidos */
	left:355px; 
  }
  
  #error02  {     /* error01, error02, error03 ..... para darle la ubicación al mensaje de error de cada campo <text> */
	top: 37px;     /* <text> del Nombre de Usuario */
	left:355px; 
  }
  
  #error03  {     /* error01, error02, error03 ..... para darle la ubicación al mensaje de error de cada campo <text> */
	top: 72px;     /* <text> de la Contraseña */
	left:355px; 
  }
  
  #error04  {     /* error01, error02, error03 ..... para darle la ubicación al mensaje de error de cada campo <text> */
	top: 109px;     /* <text> de Confirmar la Contraseña */
	left:355px; 
  }
  
  #error01_chp  {     /* error01_chp, error02_chp ..... para darle la ubicación al mensaje de error de cada campo <text> */
	top: 187px;     /* <text> de la Contraseña */
	left:422px; 
  }
  
  #error02_chp  {     /* error01_chp, error02_chp ..... para darle la ubicación al mensaje de error de cada campo <text> */
	top: 220px;     /* <text> Confirmación de la Contraseña */
	left:422px; 
  }
    
 /***************************************** 05 COMPRAS -> Nueva Compra ************+******************************/
   
  /****** DETALLE DE LA COMPRA ********/
  
  span.intro_modulos  {        /* span de las intro de cada módulo 1. DATOS GENERALES 2.DETALLE DE COMPRA 3.*/
	padding: 5px; 
	margin: 5px 0px 5px 5px;  
	font-size: 1.1em; 
  }
  
  div.up_compras_table_sup  {    /* los div donde están los encabezados */
	min-height: 16px; 
	height: auto; 
	float: left; 
	text-align: center; 
	padding: 5px 0px;  
  }
  
  div.up_compras_table  {        /* los div de con los campos input adentro */
	min-height: 26px; 
	height: auto; 
	float: left; 
	text-align: center; 
	padding: 3px 0px;  
  }
   
  .text_compras_form  {   /* campo input text del formulario del módulo 2 de la parte de compras */
   padding: 2px 5px;
   font-size: 1.1em; 
   border: 1px solid gray;
   height: 1.4em;
   font-family: Arial, Helvetica, sans-serif;
  }

   input.text_compras_form:hover  {
   border: 1px solid #E69D2A;  
   }
   
   input.text_compras_form:focus  {
   border: 1px solid #1C94C4;
   background-color: #FFFFFF; 
   }
  
   select.select_compras_form   {   /* campo select del formulario del módulo 2 de la parte de compras */
   padding: 2px 5px;
   font-size: 1.1em; 
   border: 1px solid gray;
   height: 1.8em;
   font-family: Arial, Helvetica, sans-serif;   
   }
  
   select.select_compras_form:hover  {
   border: 1px solid #E69D2A;  
   }
   
   input.select_compras_form:focus  {
   border: 1px solid #1C94C4;
   background-color: #FFFFFF; 
   }
  
   a.anadir_compra  {    /* enlace para añadir otra fila a la compra */
   cursor: pointer; 
   text-decoration: none;
   }
  
   a.anadir_compra:hover  {   
   cursor: pointer; 
   text-decoration: underline;
   color: blue;   
   }
  
   a.anadir_compra:active  {   
   cursor: pointer; 
   text-decoration: none;
   color: black;   
   }
      
   .table_info_compras_details  {  /* css de la tabla de dos columnas con los datos generales de la COMPRA */
   float:left; 
   width:100%; 
   }

   .table_info_compras_details tr th {  
   color:#2C73A5;
   text-align: center;
   padding: 7px;
   }

   .table_info_compras_details tr  td {  
   color: #555555;
   background-color: #FFFFFF;
   padding: 7px;
   font-weight:bold;
   text-align:left;   
   }
 
   /***************************************** 06 CAJA  ******************************************/
 
  .vista_caja  {       /* css de la tabla de 3 columnas con la vista de la CAJA  */
   width: 40%; 
   border: 1px solid gray; 
   text-align: center;
   float:right;
   margin-top: 15px;
   }
   
   .vista_caja tr  {       /* css de la tabla */
   }
     
   .vista_caja tr td {       /* css de la tabla */
   color: #464646;
   background-color: #F7F7F7;
   padding: 7px;
   border: 1px solid gray;  
   }
   
   /***************************************** 07 VENTAS  ******************************************/
   
   .search_cliente_venta  {
   display: none;	   
   position: absolute;
   margin: 3px 5px 0 0;
   width:400px; 
   height:120px;
   top: 100px;
   left: 490px;
   text-align: left;
   padding-top:2px;
   z-index: 999;
   overflow:visible;   
   }
   
   a.anadir_venta  {    /* enlace para añadir otra fila a la venta compra */
   cursor: pointer; 
   text-decoration: none;
   }
  
   a.anadir_venta:hover  {   
   cursor: pointer; 
   text-decoration: underline;
   color: blue;   
   }
  
   a.anadir_venta:active  {   
   cursor: pointer; 
   text-decoration: none;
   color: black;   
   }
   
   /***************************************** 08 INVENTARIO ************+******************************/
   
  /* ESTE ES EL <div> DEL MÓDULO INVENTARIO PARA SELECCIONAR EL ARTÍCULO DEL MOVIMIENTO - POR CÓDIGO - */
  .autocomplete_codigo
  {
	display: none;
	position: absolute;
    margin: 3px 5px 0 0;
    /* display:block; */
    width:320px; 
	height:250px;
	top: 17px;
	left: 380px;
	text-align: left;
    padding-top:15px;
  }  
   
  /*05 ESTE ES EL AUTOCOMPLETE DEL MÓDULO INVENTARIO PARA SELECCIONAR EL ARTÍCULO DEL CUAL QUIERO VER EL KARDEX  - POR CÓDIGO - */
  .autocomplete_kardex_codigo
  {
	 display: none;
	 position: absolute;
     margin: 3px 5px 0 0;
     /* display:block; */
     width:320px; 
	 height:250px;
	 top: -21px;
	 left: 380px;
	 text-align: left;
     padding-top:15px;
   } 
   
                        /*****************************************  09 IMPRIMIR ************+******************************/
						
   .body_background  {         /* Estilo del background */
	  background-color:white; 
	  color:black; 
	  font-size:1.1em; 
	  font-family: "Times New Roman", Times, serif;
	  padding:15px;
   }
   
   .header_span  {
	  line-height:1.2em;   
   }
   
   .print_table  {       /* css de la tabla */
   width: 100%; 
   border: 1px solid gray; 
   text-align: center;
   }
   
   .print_table tr  {       /* css de la tabla */
   }
   
   .print_table tr th {       /* css de la tabla */
   color: white;
   background-color: #056AA8;   /* AZUL CLARO*/
   padding: 3px; 
   font-size: 0.6em;
   }
   
   .print_table tr td {       /* css de la tabla */
   color: #464646;
   background-color: #FCFCFC;
   padding: 4px;
   border: 1px solid gray; 
   font-size: 0.7em; 
   }
     
   .footer_print {
	color: black;  
	clear: both;
	margin-top: 20px;
   }			
						
   .message_wrong_print  {                /* div para mensaje de acción WRONG en la parte de impresión */
   color: white;
   text-decoration: blink;
   background-color: #F96666;
   border: 2px solid #D40000;
   border-radius: 5px 5px;
   padding: 4px;
   width: 99%;
   text-align: center;
   margin:5px 0px 15px 0px; 
   } 						
						